# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea
models/ivoa/bin/
tools/gradletooling/gradle-plugin/bin/
/models/sample/test/src-gen/
/venv/
/tools/gradletooling/sample/.pytest_cache/
/doc/site/
/tools/gradletooling/sample/docs/
