# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea
models/ivoa/bin/
tools/gradletooling/gradle-plugin/bin/
/models/sample/test/src-gen/
/venv/
/tools/gradletooling/sample/.pytest_cache/
/doc/site/
/tools/gradletooling/sample/docs/
/tools/gradletooling/sample/allnav.yml
/tools/gradletooling/sample/pythontest/generated/
/tools/gradletooling/sample/mkdocs.yml
/runtime/java/bin/
/tools/gradletooling/sample/tmp/
/tools/gradletooling/gradle-plugin/gradle/
